<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <h3 class="py-4 text-orange-900 underline">Questions</h3>
            <h3 class="py-4 text-orange-900 underline">create questions</h1>
                <form form action="/elections/<%=id%>/questions " method="post">
                    <input type="text" class="placeholder-orange-500 border border-orange-500 border-opacity-75"  placeholder="Add new election" name="name">
                    <button type="submit" class="text-white bg-orange-400 hover:bg-orange-800 font-medium rounded px-2 py-1.5">Submit</button>
                </form>
            <% for(let i=0;i<questionList.length;i++){%>
            <a href="/election/<%= questionList[i].id%>">
            <%= questionList[i].electionName%>
            </a>
            <br>
            <%} %> 
            <br>
            <a href="/signout"   class="px-2 py-1.5 text-white font-medium rounded bg-orange-400  hover:bg-orange-800 ">SignOut</a>
        </div>
    </div>
</body>
</html>